@model ProgettoCloud_SSDPP.ViewModels.MeteoLocalitaViewModel

<h1>@Model.localita</h1>

@for(int i = 0; i < Model.giorni.Count(); i++) {
	<div >
		<p> @Model.giorni[i].giorno</p>
		<img src="@Model.giorni[i].iconaUrl" />
		<p>@Model.giorni[i].descIcona</p>
		<p>@Model.giorni[i].testoGiorno</p>
		<p>@Model.giorni[i].tMaxGiorno</p>
		<p>@Model.giorni[i].tMinGiorno</p>
		<br />
		<br />
	</div>
}

<button onclick="goToHome()">Home</button>


<script>
	function goToHome() { 
		window.location.href = "/"; 
	}

	function goToDay(string city, num gg) { 
		window.location.href = "/Meteo/DelGiorno?id="+city+"&gg="+gg; 
	}
</script>